<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
	<connectionStrings>
		<add name="HumanResourceContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=HumanResourceContext-20210825163022; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|HumanResourceContext-20210825163022.mdf" providerName="System.Data.SqlClient" />
		<add name="HRMSEntities" connectionString="metadata=res://*/Context.Model1.csdl|res://*/Context.Model1.ssdl|res://*/Context.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-K9JM7C2EKKD;initial catalog=HRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HRMSEntities1" connectionString="metadata=res://*/Context.Model1.csdl|res://*/Context.Model1.ssdl|res://*/Context.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-K9JM7C2EKKD;initial catalog=HRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HRMSEntities2" connectionString="metadata=res://*/Context.Model2.csdl|res://*/Context.Model2.ssdl|res://*/Context.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-K9JM7C2EKKD;initial catalog=HRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HRMSEntities3" connectionString="metadata=res://*/Context.Model2.csdl|res://*/Context.Model2.ssdl|res://*/Context.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-K9JM7C2EKKD;initial catalog=HRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="HRMSEntities4" connectionString="metadata=res://*/Context.Model2.csdl|res://*/Context.Model2.ssdl|res://*/Context.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-K9JM7C2EKKD;initial catalog=HRMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>