
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee_Details</title>
</head>
<body>
    <div>
        <p>hellooooo</p>
    </div>
</body>
</html>
